# Telegram Bot Token
TELEGRAM_TOKEN=tu_token_de_telegram_aqui

# Database configuration
DB_PATH=laida.db
BOT_DB_PATH=../bd/laida.db
BOT_CONVERSATIONS_DIR=.

# Node Environment
NODE_ENV=development
PORT=3000
